//mobile first
#form-login,
#form-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .container {
        height: auto;
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 16;
        .title {
            justify-content: left;
            border-bottom: 1px solid #dee2e6;
            padding-bottom: 8px;
        }
        .content {
            padding: 16px;
            display: block;
            color: #000;
            overflow-y: auto;
            font-size: 16px;
            input {
                font-size: 16px;
                border-radius: 8px;
                width: 100%;
                background-color: #fafafa;
                border: 1px solid #ededee;
                display: inline-block;
                height: 26px;
                padding: 0 8px;
            }
            .row {
                display: block;
                margin-bottom: 16px;
                & > * {
                    display: inherit;
                    margin-bottom: 8px;
                }
            }
            .login-info {
                label {
                    margin-bottom: 8px;
                }
            }

            #btnlogin,
            #btnsignup {
                border-radius: 16px;
                width: 100%;
                background-color: $active-color;
                padding: 8px 0;
                margin: 16px 0;
                color: white;
                border: 1px solid #ededee;
                cursor: pointer;
            }
            p {
                text-align: right;
            }
            a {
                float: right;
                padding: 8px;
                text-decoration: none;
                color: $active-color;
                font-weight: 600;
                &:hover {
                    opacity: 0.4;
                    cursor: pointer;
                }
            }
        }
    }
}
@media screen and (min-width: 720px) {
    #form-login {
        .container {
            width: 80%;
            .content {
                input {
                }
            }
        }
    }
    #form-signup {
        .container {
            width: 80%;

            .content {
                .row {
                    display: inline-block;

                    width: calc(50% - 64px);
                    margin-left: 64px;
                    &:nth-child(odd) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
