.table-container {
    overflow-x: auto;
    table {
        width: 100%;
        border-collapse: collapse;
        tr {
            &:first-of-type {
                background: $active-color;
                color: white;
                border-bottom: none;
            }
            border-bottom: 0.5px solid gray;
            &:last-child {
                border-bottom: none;
            }
            th {
                &:nth-child(2) {
                    width: 2%;
                }
            }
            td {
                img {
                    width: 120px;
                    height: 120px;
                }
                text-align: center;
                & > div {
                    display: inline-block;

                    width: 20vw;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
            th,
            td {
                &:first-child {
                    text-align: center;
                }
                &:nth-child(2) {
                    width: 2%;
                    text-align: center;
                }
                padding: 10px;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}
