/*custom reset css */
* {
    box-sizing: inherit;
}

html {
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    scroll-behavior: smooth;
}
body {
    color: #333;
    background-color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
}
/*Text (font, size,color ,weight, line-height) */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1,
.h1 {
    font-size: 32px;
}

h2,
.h2 {
    font-size: 30px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 18px;
}

h5,
.h5 {
    font-size: 14px;
}

h6,
.h6 {
    font-size: 12px;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/*margin text*/
h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin: 0;
}

p {
    margin: 0;
}
