.home-product {
    padding-bottom: 100px;
    .image-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: space-around;
        t {
            display: block;
            width: 100%;
            font-size: 20px;
            font-weight: 700;
            padding: 20px;
        }

        .image-item {
            padding: 15px;
            position: relative;
            max-width: 300px;
            height: 380px;
            .image-pack {
                img {
                    max-height: 270px;
                    border-radius: 15px;
                    box-shadow: 5px 10px 8px #888888;
                    opacity: 1;
                    display: block;
                    width: 100%;
                    height: auto;
                    transition: 0.5s ease;
                    backface-visibility: hidden;
                }
                .buy-now {
                    transition: 0.5s ease;
                    opacity: 1;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    .text-buy {
                        background-color: #fa8c16;
                        color: white;
                        font-size: 16px;
                        padding: 16px 32px;
                        display: none;
                    }
                }
            }
            .image-pack:hover {
                img {
                    opacity: 0.3;
                    cursor: pointer;
                }
                .text-buy {
                    opacity: 1;
                    cursor: pointer;
                    display: block;
                }
            }
            n {
                font-weight: 600;
                font-size: 16px;
            }
            n:hover {
                cursor: pointer;
                color: #fa8c16;
            }
            p {
                opacity: 0.7;
            }
            .icon-plus {
                float: right;
                right: 57px;
                left: 36px;
                transform: translate(-12px, -20px);
                font-size: 16px;
                color: white;
                border-radius: 50%;
                width: 32px;
                height: 32px;
                background-color: #fa8c16;
                align-items: center;
                justify-content: center;
                display: flex;
            }
            .icon-plus:hover {
                cursor: pointer;
                opacity: 0.5;
            }
        }
    }
}
