@mixin productTitle() {
    font-size: calc(1vw + 1em);
    font-weight: 600;
    color: #000;
    margin-bottom: 16px;
    padding-bottom: 16px;
}
@mixin optionProductFlex() {
    transition: all 0.3s;
    cursor: pointer;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

@mixin optionContainer() {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
