@media screen and (min-width: 1024px) {
    //class dùng chung
    $--primary-color: #fff2d9;
    $--text-color: #000;
    $--text-hover: #ea8025;
    .--disappear {
        display: none;
    }
    .--displayBlock {
        display: block;
    }

    .opacity-light {
        opacity: 0.5;
    }

    .header__desktop-list {
        display: block;
    }

    .not-flow {
        word-wrap: break-word;
        // white-space: pre-wrap;
        word-break: break-word;
    }

    .menu__mobile {
        display: none;
    }

    .header__menu-mobile {
        display: none;
    }

    .size-small {
        margin-left: 4px;
        color: $--text-color;
        font-size: 8px;
        cursor: pointer;
    }

    .size-normal {
        cursor: pointer;
        margin-left: 4px;
        color: $--text-color;
        font-size: 11px;
    }

    .text-color {
        color: $--text-color;
    }

    .medium-font-size {
        font-size: 16px;
    }

    .layout-white {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.93);
    }

    .text-hover ul li:hover > a {
        color: $--text-hover;
    }

    // phần code

    .header__icon-menu-btn {
        display: none;
    }

    .menu__board {
        display: none;
    }

    .header__title {
        margin-left: 54px;
        display: flex;
        text-align: center;
    }

    .header-line {
        margin-top: 12px;
    }

    .header__desktop-list {
        position: absolute;
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }

    .header__selection {
        height: 100%;
    }

    .header__selection-all {
        display: flex;
        height: 100%;
        margin: 0;
        padding-left: 0;
    }

    .header__selection-all-item {
        list-style: none;
        padding: 0 19px;
        padding-top: 15px;
    }

    .header__selection-all-item > a {
        font-weight: 600;
    }

    .header__selection-all-item:nth-child(3) {
        position: relative;
    }

    // Inside menu-board
    .header__modal {
        display: none;
        position: fixed;
        width: 100%;
        height: 260px;
        top: 3.57em;
        right: 0;
    }

    .flex-assist {
        display: flex;
        height: 100%;
    }

    .header__menu-modal {
        margin: auto;
        z-index: 11;
    }

    .header__inside-menu-modal {
        display: flex;
        padding: 0;
        margin: 0;
    }

    .header__inside-menu-item-1 {
        display: block;
        flex: 1;
        list-style: none;
        width: 134px;
        height: 184px;
        padding: 12px 24px;
    }

    .header__inside-menu-item-1 > a {
        display: block;
        text-decoration: none;
        border-bottom: 2px solid;
        font-size: 16px;
        font-weight: 600;
    }

    //
    .header__inside-menu-suggested {
        margin-top: 16px;
        padding: 0;
    }

    .header__inside-menu-item-2 {
        list-style: none;
        margin-bottom: 4px;
    }

    .header__inside-menu-item-2 > a {
        display: block;
        color: rgba($color: #000000, $alpha: 0.6);
    }

    .hover:hover .header__modal {
        display: block;
    }

    .header__selection-all > li > a {
        text-decoration: none;
    }

    .header__acount {
        display: flex;
        padding-top: 5px;
        .search-icon {
            cursor: pointer;
        }
    }

    // .icon-profile:hover {
    //     color: $--text-hover;
    // }

    .user-line {
        text-decoration: none;
        font-weight: 600;
    }

    .header__acount .icon {
        font-size: 15px;
        line-height: 17px;
    }

    .border-square {
        text-align: center;
        opacity: 1;
        padding: 3px 3px 4px 3px;
        border: 3px solid;
        border-radius: 50%;
        height: 27px;
    }

    .header__acount .icon {
        margin: 8px;
    }

    .header__acount:hover .user-icon {
        cursor: pointer;
    }

    .user-icon {
        position: relative;
        // &:hover {
        //     cursor: pointer;
        // }
        .form-change-dir {
            box-shadow: 0px 0px 6px 0.5px rgb(209 205 205);
            cursor: default;
            background-color: white;
            position: absolute;
            top: 124%;
            right: -50%;
            padding: 12px;
            border-radius: 10px;
            .close-btn {
                float: right;
                padding: 0;
                margin-right: 5px;
                border: none;
                font-size: 12px;
                background-color: white;
                cursor: pointer;
            }
            .form-change-table {
                padding: 0;
                list-style: none;
                margin: 15px 0;
                .form-change-dir-nav {
                    display: flex;
                    align-items: center;
                    width: 130px;
                    height: 33px;
                    display: flex;
                    .form-change-dir-text {
                        font-size: 13px;
                        margin-left: 17px;
                        text-decoration: none;
                        color: $--text-color;
                        &:hover {
                            color: $--text-hover;
                        }
                    }
                }
            }
        }
    }

    .cart-icon {
        position: relative;
        display: flex;
        cursor: pointer;
        //
        .icon-btn-badge {
            //
            display: none;
            position: absolute;
            top: -10px;
            right: -10px;
            height: 17px;
            width: 19px;
            background-color: red;
            color: white;
            justify-items: center;
            align-items: center;
            border-radius: 50%;
            z-index: 12;
        }
    }

    //form chuyển hướng sang form đăng nhập
    .change-dir-modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // canh giữa hay lên trên cao tí
        // display: flex;

        //layout-dark PC
        .layout-dark {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000, $alpha: 0.5);
        }

        .modal-body {
            position: relative;
            width: 380px;
            height: 430px;
            background-color: white;
            // canh giữa hay là trên cao xíu?
            // margin: auto;
            top: 41%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 11;
            border-radius: 5px;
            .modal-inner {
                border-radius: 8px;
                .modal-inner-img {
                    width: 100%;
                    object-fit: cover;
                }
                .modal-board {
                    padding: 12px;

                    .header__title {
                        margin-bottom: 22px;
                        margin-left: 100px;
                        .header-line {
                            font-weight: 700;
                        }
                    }

                    .modal-description {
                        margin-bottom: 12px;
                    }

                    .form-row {
                        display: flex;
                        width: 354px;
                        margin-bottom: 20px;
                        border: 1px solid #ededed;
                        border-radius: 10px;
                        overflow: hidden;
                        background-color: #fafafa;
                        .region-text {
                            min-width: 56.6px;
                            align-items: center;
                            display: flex;
                            padding-right: 16px;
                            margin: 8px 0 9px 10px;
                            border-right: 1px solid #ededed;
                        }
                        .vietnam-icon {
                            vertical-align: middle;
                            padding-right: 2px;
                            width: 25px;
                            height: 20px;
                            font-weight: 400;
                        }
                        .phone-input {
                            flex: 1;
                            padding: 10px 16px;
                            border: 1px;
                            background-color: #fafafa;
                            outline: none;
                        }
                    }
                    .login-btn {
                        cursor: pointer;
                        width: 100%;
                        padding: 6px 22px;
                        border: 1px solid #ededed;
                        border-radius: 100px;
                        color: white;
                        background-color: $--text-hover;
                    }
                }
            }
        }
    }
}
