@media screen and (min-width: 1024px) {
    .header__icon {
        background-color: white;
        padding: 10px 13% 10px 0;
        justify-content: end;
        display: flex;
        .user-icon,
        .cart-icon,
        .search-icon {
            cursor: pointer;
            margin-left: 2%;
            &:hover {
                color: #e57905;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .menu__mobile {
        position: relative;
    }
    .header__icon {
        // padding: ;
        background-color: white;
        display: flex;
        justify-content: center;
        .user-icon,
        .cart-icon,
        .search-icon {
            margin: 4px 8px 0 8px;
            font-size: 20px;
            cursor: pointer;
        }
        .user-icon {
            height: 22px;
        }
        .change-dir-modal {
            display: none;
        }
    }
    .menu__mobile {
        display: block;
    }
}
