$--primary-color: #fff2d9;
$--text-color: #000;
// class dùng nhìu lần
.flex {
    display: flex;
}

.layout-dark {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 0.5);
    z-index: 11;
}

.icon {
    opacity: 0.7;
    font-size: 14px;
}

.icon-large {
    opacity: 0.7;
    font-size: 18px;
}

.line-height-50 {
    line-height: 48px;
}

.--disappear {
    display: none;
}
.--displayBlock {
    display: block;
}

.size-small {
    margin-left: 6px;
    color: $--text-color;
    font-size: 8px;
}
// phần code

#header {
    height: 50px;
    background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.8);
    width: 100%;
    position: fixed;
}

.close-btn-wrap {
    line-height: 16px;
    width: 100%;
    font-size: 26px;
    height: 40px;
    padding: 10px 15px;
    color: black;
    cursor: pointer;
}

.header__menu-mobile {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    margin-left: 0px;

    line-height: 50px;
}

.header__menu-mobile-line {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 700;
}

.header__icon-menu-btn {
    width: 50px;
    text-align: center;
    height: 100%;
    font-size: 16px;
    cursor: pointer;
}

.close-btn-wrap > p {
    color: black;
}

.header__title:hover {
    cursor: pointer;
}

.icon-home {
    margin: 0 10px;
}

.header__text {
    font-size: 25px;
    line-height: 50px;
}

.header__logo-coffee-house {
    display: inline-block;
    margin: 4px;
}

// phần Menu board

.board__item > p {
    line-height: 5.8rem;
    font-size: 1.4rem;
}

// Menu board

.menu__board {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
}

.board-body {
    width: 50%;
    height: 100%;
    background-color: white;
    position: relative;
    z-index: 12;
    transition: 0.5s ease-in;
    overflow-y: auto;
}

.board-body > p {
    line-height: 5.8rem;
    font-size: 1.4rem;
}

.closemenu-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.board__list {
    padding: 0;
    margin: 0 0 0 24px;
    list-style: none;
}

.board__item > p {
    margin: 0;
}

.board__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.board__item {
    position: relative;
    .icon-mug,
    .icon-leaf,
    .icon-info,
    .icon-user,
    .icon-cart,
    .icon-circle-down {
        position: absolute;
        right: 20px;
        top: 16px;
        font-size: 8px;
        //
        text-align: center;
        opacity: 1;
        padding: 3px 3px 4px 3px;
        border-radius: 50%;
        border: 1.6px solid black;
    }
    .icon-info,
    .icon-circle-down {
        border: none;
        right: 17px;
        font-size: 17px;
    }
}

.board-body > ul > li a {
    text-decoration: none;
    padding: 17px 16px 17px 0px;
    display: block;
    color: #000;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
}

// Phần bên trong menu

.board__item-all {
    padding: 0;
    margin: 0 0 0 24px;
    list-style: none;
}

.board__item-all-list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.board__item-all > ul > li a:last-child {
    border-color: none;
}

.header__desktop-list {
    display: none;
}
