.product-container {
    .left-list {
        position: sticky;
        float: left;
        width: 25%;
        padding: 40px 0 50px;
        .left-container {
            margin-right: auto;
            margin-left: 30px;
            padding-left: 15px;
            padding-right: 15px;
            .list-item {
                margin: 10px;
            }
            .list-lv2 {
                display: none;
                li {
                    list-style-type: none;
                    padding-left: 10px;
                    margin: 10px;
                }
            }
            .active {
                color: red;
                display: block;
            }
        }
    }
    .show-product {
        .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: space-around;
            .image-item {
                padding: 15px;
                position: relative;
                .image-pack {
                    img {
                        max-height: 270px;
                        border-radius: 15px;
                        box-shadow: 5px 10px 8px #888888;
                        opacity: 1;
                        display: block;
                        width: 100%;
                        height: auto;
                        transition: 0.5s ease;
                        backface-visibility: hidden;
                    }
                    .buy-now {
                        transition: 0.5s ease;
                        opacity: 1;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        .text-buy {
                            background-color: #4caf50;
                            color: white;
                            font-size: 16px;
                            padding: 16px 32px;
                            display: none;
                        }
                    }
                }
                .image-pack:hover {
                    img {
                        opacity: 0.3;
                        cursor: pointer;
                    }
                    .text-buy {
                        opacity: 1;
                        cursor: pointer;
                        display: block;
                    }
                }
                p {
                    opacity: 0.7;
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .product-container {
        display: flex;
        flex-direction: column;
        .left-list {
            box-shadow: 0px 8px 36px 0px #0000002b;
            top: 60px !important;
            padding: 12px 15px !important;
            margin-bottom: 12px;
            background: #fff;
            width: 100% !important;
            z-index: 2;
            .list-lv2 {
                display: none;
            }
            .list-lv2.active {
                display: none !important;
            }
            .mobile-mid {
                display: none;
            }
            .mobile-menu-on {
                display: block;
            }
        }
        .show-product {
            padding-top: 50px;
            .image-container {
                .image-item {
                    padding: 10px;
                    flex: 0 0 50%;
                }
                img {
                    max-width: 340px;
                    max-height: 340px !important;
                    display: block;
                    cursor: pointer;
                    width: 100%;
                }
                .text-buy {
                    padding: 6px !important;
                }
            }
        }
    }
}
